@font-face{
    font-family: 'AvantGardeDemiBT';
    src:url('../assets/fonts/AvantGardeDemiBT.ttf')
}

@font-face{
    font-family: 'Brandon_bld';
    src:url('../assets/fonts/Brandon_bld.otf')
}

@font-face{
    font-family: 'Brandon_reg';
    src:url('../assets/fonts/Brandon_reg.otf')
}

@font-face{
    font-family: 'Akzidenz-grotesk-bold';
    src:url('../assets/fonts/Akzidenz-grotesk-bold.ttf')
}

@font-face{
    font-family: 'Akzidenz-grotesk-light';
    src:url('../assets/fonts/Akzidenz-grotesk-light.ttf')
}

