@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
}

html, body, p, ul, li, a, div {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #383838;
  font-family: 'Montserrat';
}

li {
  list-style-type: none;
}

li {
  padding-left: 1rem;
}

#from, #to {
  width: 50%;
  text-decoration: none;
  outline: none;
  color: #383838;
  margin-left: 1.2rem;
}

.filters {
  display: none;
}

.filters div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters div:first-child h3 {
  width: 80%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6vh;
  text-align: center;
  background-color: #FF1259;
}

.navbar .pipesort {
  width: 100%;
  color: white;
}

.navbar .filtersLink {
  background: #fff;
  width: 30%;
  padding: 0.3rem;
}

.container {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
}

.products {
  padding: 0.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 155px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 155px));
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  gap: 0.7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.product {
  border: 0.1px solid #383838;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 160px;
      grid-template-areas: "." "name"  "brand" "price" "colors" ".";
}

.product span {
  width: 80%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.product .colors {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.7fr 1fr;
      grid-template-columns: 0.7fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.product .colors span {
  -ms-grid-column-align: left;
      justify-self: left;
}

.product .colors__names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 464px) {
  .products {
    -ms-grid-columns: (minmax(180px, 200px))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(180px, 200px));
  }
}

@media screen and (min-width: 750px) {
  .products {
    width: 75vw;
  }
  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 1rem;
  }
}

@media screen and (min-width: 1146px) {
  html {
    font-size: 18px;
  }
  .products {
    width: 80vw;
  }
  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar {
    height: 8vh;
  }
}
/*# sourceMappingURL=style.css.map */